body{
background-color: #7a9597;



}

#Josuke{
  background-color: whitesmoke;
  height: 500px;
  width: 50vh;
  border-style: dotted;
  border-color: black;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
     
}

#Jotaro{
 background-color: yellow;
 height: 50px;
 width: 30%;

}

#Giorno{
 background-color: rgb(158, 106, 9);
 height: 100px;
 width: 30%;

}

#Joseph{
 background-color: rgb(0, 201, 0);
 color:black;
 font-size: 30px;
 padding: 50px;
 margin-left: 50px;
 margin-top: 50px;


}